<nav class="navbar navbar-expand-md fixed-top bg-gradient box-shadow">
  <a class="navbar-brand" href="#">Challenge me</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Title here <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>