<div class="col-md-12">
    <div class="animated fadeIn row">
        <div class="p-3 col-md-3 list-group">
            <div @list class="list-container">
                    <button  class="btn btn-light"  data-toggle="modal" data-target="#exampleModalLong">Add item</button> 
                    <button  class="btn btn-light" (click)="removeItem()">Remove item</button>
                    <div @items class="box" 
                      *ngFor="let item of challenges; let i=index;">
                      <app-challenge [challenge]="item" (selectedItem)="selectedChallengeItem(item)"></app-challenge>
                    </div>
                  </div>
        </div>
        <div class="my-4 p-3 col-md-9 bg-white rounded box-shadow">
                <app-calendar-slider (selectedItem)="selectedDateItem($event)"></app-calendar-slider>
                <div *ngIf="posts.length else blank" class="container-fluid">
                <app-challenge-detail [posts]="posts"></app-challenge-detail>         
                </div>
                <ng-template #blank>
                        There're nothing to show :(
                </ng-template>
                    
        
      </div>
      
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="pushItem()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>