.timeline__top{
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border-left: 3px solid var(--uiTimelineMainColor);
    background-color: #fff;
    margin-top: 10px;
  }

  .timeline__bottom{
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border-left: 3px solid var(--uiTimelineMainColor);
    background-color: #fff;
  }