<div class="m4 timeline__top box-shadow">
    <div class="">
      <h3>Challenge accepted: Do something you've never done before</h3>
      <h3>Your target</h3>
      <h4>Start from</h4> <h4>End from</h4>
        <p>Attends the Philadelphia Museum School of Industrial Art. Studies design with Alexey Brodovitch, art
            director at Harper's Bazaar, and works as his assistant.</p>
            <p>Attends the Philadelphia Museum School of Industrial Art. Studies design with Alexey Brodovitch, art
                director at Harper's Bazaar, and works as his assistant.</p>
                <p>Attends the Philadelphia Museum School of Industrial Art. Studies design with Alexey Brodovitch, art
                    director at Harper's Bazaar, and works as his assistant.</p>
    </div>
</div>
<app-timeline [timelines] = "timelines"></app-timeline>
<div href="#"  class=" timeline__bottom box-shadow">
    <div class="">
        <h3>Your result</h3>
          <p>Attends the Philadelphia Museum School of Industrial Art. Studies design with Alexey Brodovitch, art
              director at Harper's Bazaar, and works as his assistant.</p>
              <p>Attends the Philadelphia Museum School of Industrial Art. Studies design with Alexey Brodovitch, art
                  director at Harper's Bazaar, and works as his assistant.</p>
                  <p>Attends the Philadelphia Museum School of Industrial Art. Studies design with Alexey Brodovitch, art
                      director at Harper's Bazaar, and works as his assistant.</p>
      </div>
</div>